@import url("../reset.css");

.container {
  animation: animate 4s linear infinite;
}

.clip-haxagon {
  position: relative;
  width: 110px;
  height: 100px;
  background-color: #0f0;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
